body{
    background-color: #58514a;
    margin: 0;
}

.viewport{
    max-width: 100%;
    height: 100vh;
}

.calculatorBody{
    background: linear-gradient(180deg, rgb(210, 203, 164) 0%, rgb(185, 182, 146) 100%);

    max-width: 480px;
    min-width: 350px;
    width:80%;

    max-height: 760px;
    height: 80%;
    
    position: center;
    
    margin: auto;
    margin-top: 8%;
    padding-top: 2%;
    border-radius: 4px
}

.calculatorBodySolarCells{
    background: linear-gradient(90deg,#002d00 2%, #026102 2%, #026102 24%, #002d00 24%,#002d00 26%, #026102 26%, #026102 49%, #026102 49%, #002d00 49%, #002d00 51%, #026102 51%, #026102 74%, #002d00 74%, #002d00 76%, #026102 76%, #026102 98%, #002d00 98%, #002d00 100%);
    box-shadow: 0 -5px rgb(146, 144, 108) ;

    width: 90%;
    height: 10%;

    margin: auto;
    margin-bottom: 3%;
    margin-top: 2%;

    border-radius: 15px;
}

.calculatorBodyShadow{
    background: linear-gradient(180deg, rgba(173,168,136,1) 0%, rgb(156, 154, 117) 100%);

    width: 100%;
    height: 24%;

    padding-top: 6%;
}

#resultsDisplay{
    font-family: 'Segment7Standard';
    
    background-color: rgb(77, 37, 8);
    box-shadow: 0 8px rgb(119, 118, 90) ;

    border-radius: 20px;
    color: orangered;
    text-align: center;
    font-size: 35px;
    
    width: 70%;
    height: 60%;
    
    padding: 20px 20px 20px 20px;
    margin: auto;
}

.calculatorBodyButtons{
    width:100%;
    height: 63%;
}

#buttonsUpper{
    text-align: center;
}

.calculatorButtonsUpper{
    font-size: 30px;
    color: #5a1e08;

    width: 22.5%;
    height: 75px;

    margin-top: -5px;
    margin-bottom: 10px;

    background: linear-gradient(180deg, rgb(230, 222, 182) 0%, rgb(161, 157, 122) 150%);
    box-shadow: 0 10px rgb(146, 144, 108) ;
    border: none;
    border-radius: 4px;
}

.calculatorButtonsUpper:focus {
    outline: none;
}

.calculatorButtonsUpper:active {
    transform: translateY(5px);
    box-shadow: 0 5px rgb(146, 144, 108);
}

#buttonsLower{
    text-align: center;
    margin-bottom: 33px;
}

.calculatorButtonsLower{
    font-family: 'Segment7Standard';
    font-size: 50px;
    color: #5a1e08;

    width: 30%;
    height: 75px;
    margin-bottom: 8px;

    background: linear-gradient(180deg, rgb(230, 222, 182) 0%, rgb(161, 157, 122) 150%);
    box-shadow: 0 10px rgb(146, 144, 108) ;
    border: none;
    border-radius: 4px;
}

.calculatorButtonsLower:focus {
    outline: none;
}

.calculatorButtonsLower:active {
    transform: translateY(5px);
    box-shadow: 0 4px rgb(146, 144, 108);
}


.calculatorBodyBottomShadow{
    background: linear-gradient(180deg, rgba(173,168,136,1) 0%, rgb(134, 132, 101) 100%);

    width: 100%;
    height: 5%;
}