body{
    background-color: #58514a;
    margin: 0;
}

.viewport{
    max-width: 100%;
    height: 100vh;
}

.calculatorBody{
    background: linear-gradient(180deg, rgba(198,191,153,1) 0%, rgba(255,250,185,1) 100%);

    max-width: 480px;
    min-width: 250px;
    width:80%;
    
    max-height: 700px;
    height: 80%;
    
    position: center;
    
    margin: auto;
    margin-top: 8%;
    padding-top: 2%;
}

.calculatorBodySolarCells{
    background-color:darkgreen;

    width: 90%;
    height: 10%;

    margin: auto;
    margin-bottom: 3%;
}

.calculatorBodyShadow{
    background: linear-gradient(180deg, rgba(173,168,136,1) 0%, rgb(156, 154, 117) 100%);

    width: 100%;
    height: 20%;

    padding-top: 6%;
}

#resultsDisplay{
    background-color: rgb(77, 37, 8);
    border-radius: 20px;
    color: orangered;
    text-align: center;
    font-size: 35px;
    
    width: 70%;
    height: 60%;
    
    padding: 20px 20px 20px 20px;
    margin: auto;
}

.calculatorBodyButtons{
    width:100%;
    height: 63%
}

.calculatorButtonsOperators{
    width: 15%;
    height: 55px;

    margin-top: 50px;
    margin-bottom: 10px;
}

.calculatorButtonsDigits{
    width: 30%;
    height: 75px;
}

.calculatorBodyBottomShadow{
    background: linear-gradient(180deg, rgba(173,168,136,1) 0%, rgb(156, 154, 117) 100%);

    width: 100%;
    height: 5%;
}